.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    z-index: 99;
}
.onsale {z-index: 99;}
ol.flex-control-thumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 8px;
}
ol.flex-control-thumbs li{
    margin-right: 8px;
}
.form-row {
    margin: 0;
}
.added_to_cart {
    margin-left: 8px;
}

.payment_box p {
    margin-bottom: 0;
}